

#calculator {
    background-color: black;
    border: 2px solid white;
    width: 200px;
    height: 29em;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 3px black;
    padding: 40px;
    padding-bottom: 30px;
    margin: 50px auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 160px 1fr 1fr 1fr 1fr 1fr;
    gap: 6px;
}

#screen {
    width: 100%;
    padding: 10px;
    grid-column: span 4;
    border-radius: 5px;
    height: 80%;
    /* background-color: #31304D; */
    color: white;
    font-size: 2em;
    box-shadow: 0px 0px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
#screen span {
    margin: 2px;
}
/* #value {
    font-size: 40px;
} */
/* #result {
    font-size: 28px;
} */

.key {
    border-radius: 100%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.number, .dot {
    background-color: #333333;
    color: #e9e9e9;
}

.number:hover {
    background-color: #5a5a5a;
    border: none;
    transition: .7s;
}

.ad-key {
    background-color: #888;
    color: black;
}
.ad-key:hover {
    background-color: rgb(216, 216, 216);
    transition: .5s;
}
.operator {
    background-color: #ff9f0a;
    color: white;
}
.operator:hover {
    background-color: rgb(253, 180, 70);
    transition: .7s;
}

#k-equal {
    grid-column: 3 / span 2;
    grid-row: 6 / 7;
    width: 100%;
    border-radius: 15px;
}
